.git
.vscode
.npmrc
.DS_Store
.babelrc.json
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.prettierignore
.prettierrc.js
.esdoc.json
release.md

*.log
*.map
*.md

CODEOWNERS
test

doc
docs
